.register-page-form-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(20deg, #0a0a0a, #1d1c5e);

}

.register-page-form {
  min-width: 40%;
  min-height: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(70deg, #f0f0f0, #ffff);
}

.register-page-h1-wrapper {
  width: 100%;
  margin: 3% 0;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.register-page-h1{
  color: #1d1c5e;
  font-weight: bolder;
  font-size: 3em;
}

.register-page-inputs-wrapper {
  width: 100%;
  margin: 1% 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.register-page-input-wrapper {
  width: 100%;
  margin: 0.5% 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
}

.register-page-span {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  padding: 2%;
  color: #1d1c5e;
}

.register-page-input {
  border-style: none;
  width: 100%;  
  padding: 2% 4%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #f0f0f0;
  transition: all 500ms ease;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.register-page-input:focus {
  border-style: none;
  border-bottom: 1px solid #1d1c5e
}


.register-page-button-wrapper {
  width: 100%;
  margin: 0.5% 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
}

.register-page-button {
  width: 100%;  
  padding: 2%;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 1px solid #1d1c5e;
  position: relative;
  background-image: linear-gradient(20deg, #0a0a0a, #1d1c5e);
  z-index: 1;
  transition: all 500ms ease 100ms;
}

.register-page-button:hover {
  color: #1d1c5e;
}

.register-page-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(70deg, #f0f0f0, #ffff);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.register-page-button:hover::before {
  opacity: 1;
  border: 1px solid #1d1c5e;
  color: #1d1c5e;
}