.login-form-heading-container {
    display: flex;
    background-color: #4b134f;
    color: #4b134f;
    align-items: center;
    justify-content: space-around;
}

.login-form {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
}

::-webkit-input-placeholder {
   text-align: center;
}

input:hover::-webkit-input-placeholder {
    color: white;
}

.login-form-span {
    font-size: 25px;
    font-weight: bold;
    width: 70%;
}

.login-form-span:hover {
    color: #c4c4c4;
}

.login-form-input {
    background-color: rgb(248, 248, 248);
    width: 70%;
    height: 40px;
    border-style: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 1px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.login-form-input:hover {
    background-color: #c4c4c4;
    color: white;
    font-size: 14;
    box-shadow: 4px 8px 16px 2px rgba(0,0,0,0.2);
}

.login-form-input:focus {
    outline: 1px groove rgb(109, 106, 106);
}

.login-form-button {
    background-color: inherit;
    color: inherit;
    width: 70%;
    height: 70px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 4px 8px 16px 2px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.login-form-button:hover {
    background-color: #4b134f;
    color: white;
    font-size: 25;
    box-shadow: 16px 32px 64px 8px rgba(0,0,0,0.2);  
}